@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.btn-primary, #hero #hero-main-content summary button, #contact-modal form button, #portfolio .splide__slide div button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 64px;
  padding: 20px;
  border: 0;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a19fad;
  color: #fbfbfe;
  background-color: #6e57e0;
}

.btn-primary img, #hero #hero-main-content summary button img, #contact-modal form button img, #portfolio .splide__slide div button img,
.btn-primary svg,
#hero #hero-main-content summary button svg,
#contact-modal form button svg,
#portfolio .splide__slide div button svg {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}


.btn-primary svg,
#hero #hero-main-content summary button svg,
#contact-modal form button svg,
#portfolio .splide__slide div button svg {
  fill: #fbfbfe;
}

.btn-secondary, #contact div button, footer button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 64px;
  padding: 20px;
  border: 0;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a19fad;
  color: #6e57e0;
  background-color: #fbfbfe;
}

.btn-secondary img, #contact div button img, footer button img,
.btn-secondary svg,
#contact div button svg,
footer button svg {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}


.btn-secondary svg,
#contact div button svg,
footer button svg {
  fill: #6e57e0;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

* ::-webkit-scrollbar {
  width: 12px;
}

* ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

* ::-webkit-scrollbar-thumb {
  background: #a19fad;
  border-radius: 12px;
}

* ::-webkit-scrollbar-thumb:hover {
  background: #6e57e0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 30px 130px 0px 130px;
  background-color: #fbfbfe;
  cursor: url("assets/svg/cursor.svg") 12 12, auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: animation-nav 0.5s ease-out 2.5s forwards;
          animation: animation-nav 0.5s ease-out 2.5s forwards;
  -webkit-transform: translateY(calc(-100% - 30px));
          transform: translateY(calc(-100% - 30px));
}

@-webkit-keyframes animation-nav {
  from {
    -webkit-transform: translateY(calc(-100% - 30px));
            transform: translateY(calc(-100% - 30px));
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes animation-nav {
  from {
    -webkit-transform: translateY(calc(-100% - 30px));
            transform: translateY(calc(-100% - 30px));
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

nav p {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #242329;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul li {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #6e57e0;
  cursor: pointer;
  color: #242329;
  margin: 0 20px 0 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li[data-selected-section] {
  color: #6e57e0;
}

#hero #hero-social {
  position: absolute;
  top: 50%;
  left: 53px;
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  list-style: none;
  -webkit-animation: animation-social 0.5s ease-out 3s forwards;
          animation: animation-social 0.5s ease-out 3s forwards;
}

@-webkit-keyframes animation-social {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animation-social {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#hero #hero-social li:nth-child(2) {
  margin: 20px 0 20px 0;
}

#hero #hero-social img {
  height: 24px;
  width: 24px;
}

#hero #hero-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100vh - 30px - 35px - 72px - 30px);
}

#hero #hero-main-content summary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

#hero #hero-main-content summary h1,
#hero #hero-main-content summary p,
#hero #hero-main-content summary button {
  opacity: 0;
}

#hero #hero-main-content summary h1 {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -2px;
  color: #242329;
  -webkit-animation: animation-hero-summery 0.5s ease-out forwards;
          animation: animation-hero-summery 0.5s ease-out forwards;
}

#hero #hero-main-content summary p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #a19fad;
  -webkit-animation: animation-hero-summery 0.5s ease-out 0.25s forwards;
          animation: animation-hero-summery 0.5s ease-out 0.25s forwards;
}

#hero #hero-main-content summary button {
  -webkit-animation: animation-hero-summery 0.5s ease-out 0.5s forwards;
          animation: animation-hero-summery 0.5s ease-out 0.5s forwards;
}

#hero #hero-main-content summary hr {
  border: none;
  height: 30px;
}

@-webkit-keyframes animation-hero-summery {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animation-hero-summery {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#hero #hero-main-content svg {
  height: 50%;
}

#hero #hero-main-content svg g {
  fill: #6e57e0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: animation-hero-blob 0.5s ease-out 1s forwards;
          animation: animation-hero-blob 0.5s ease-out 1s forwards;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

#hero #hero-main-content svg image {
  height: 100%;
  width: 100%;
  -webkit-animation: animation-hero-img 1s ease-out 1.5s forwards;
          animation: animation-hero-img 1s ease-out 1.5s forwards;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@-webkit-keyframes animation-hero-blob {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animation-hero-blob {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes animation-hero-img {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes animation-hero-img {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#hero #hero-scroll-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  -webkit-animation: animation-scroll-more 0.5s ease-out 2.5s forwards;
          animation: animation-scroll-more 0.5s ease-out 2.5s forwards;
  -webkit-transform: translateY(calc(+100% + 30px));
          transform: translateY(calc(+100% + 30px));
}

#hero #hero-scroll-more p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #a19fad;
}

#hero #hero-scroll-more img {
  height: 72px;
  width: 72px;
}

@-webkit-keyframes animation-scroll-more {
  from {
    -webkit-transform: translateY(calc(+100% + 30px));
            transform: translateY(calc(+100% + 30px));
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes animation-scroll-more {
  from {
    -webkit-transform: translateY(calc(+100% + 30px));
            transform: translateY(calc(+100% + 30px));
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-heading h1 {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -2px;
  color: #242329;
}

.section-heading p {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #242329;
  color: #a19fad;
  margin-top: 10px;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

#about article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 130px 0px 130px;
}

#about article img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50%;
  width: 50%;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

#about article #image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 481px;
  border-radius: 20px;
  background-color: #a19fad;
  background-image: url("assets/img/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#about article #biography {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
}

#about article #biography p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #a19fad;
}

#about article #biography #experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 30px 0 30px 0;
}

#about article #biography #experience p {
  text-align: center;
}

#about article #biography #experience p:first-child {
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 0;
  color: #242329;
}

#about article #biography #experience p:nth-child(2) {
  margin: 0 30px 0 30px;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

#skills .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 100px;
}

#skills .container .details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skills .container .details hr {
  border: none;
  height: 30px;
}

#skills .container .details p {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #242329;
}

#skills .container .details .progress-bar-container {
  height: 14px;
  width: 70%;
  border: 4px solid rgba(110, 87, 224, 0.25);
  border-radius: 30px;
  margin-top: 10px;
  overflow: hidden;
}

#skills .container .details .progress-bar-container .progress-bar {
  border-radius: 0 30px 30px 0;
  height: 100%;
  background-color: #6e57e0;
}

#skills .container svg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

#qualification {
  margin-top: 100px;
}

#services {
  margin-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#services #services-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(((100vw * 0.7) - 260px - 76px + 6em) / 3))[3];
      grid-template-columns: repeat(3, calc(((100vw * 0.7) - 260px - 76px + 6em) / 3));
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-top: 100px;
}

#services #services-container .service-card {
  border-radius: 20px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(((100vw * 0.7) - 260px - 76px + 6em) / 3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#services #services-container .service-card img {
  height: 96px;
  width: 96px;
}

#services #services-container .service-card h3 {
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 0;
  color: #242329;
  color: #6e57e0;
  text-align: center;
  margin-top: 30px;
}

#contact-modal .modal-content {
  width: 50%;
}

#contact-modal .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

#contact-modal .header h3 {
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 0;
  color: #242329;
}

#contact-modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
  border-radius: 20px;
}

#contact-modal form div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 30px);
}

#contact-modal form input {
  height: 50px;
  width: calc(100% - 30px);
  padding: 0 10px;
  border: 4px solid rgba(110, 87, 224, 0.5);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #a19fad;
}

#contact-modal form input[name="message"] {
  margin: 30px 0;
  height: 300px;
}

#contact-modal form button svg {
  fill: #fbfbfe;
}

#portfolio {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

#portfolio .splide__slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio .splide__slide img {
  height: 350px;
  border-radius: 20px;
}

#portfolio .splide__slide div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#portfolio .splide__slide div h3 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #242329;
}

#portfolio .splide__slide div p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #a19fad;
}

#portfolio .splide__slide div hr {
  border: none;
  height: 30px;
}

#contact {
  background-color: #6e57e0;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact div {
  width: 50%;
}

#contact div h3 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #242329;
  color: #fbfbfe;
}

#contact div p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #a19fad;
  color: #fbfbfe;
}

#contact div hr {
  border: none;
  height: 30px;
}

#contact img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 300px;
  background: #fbfbfe;
  border-radius: 20px;
}

#testimonials {
  margin: 100px 0;
}

#testimonials .splide__slide {
  opacity: 0.25;
}

#testimonials .splide__slide .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#testimonials .splide__slide .container img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  margin-right: 30px;
}

#testimonials .splide__slide .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#testimonials .splide__slide .container .info p:first-child {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #242329;
}

#testimonials .splide__slide .container .info p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #a19fad;
  color: #6e57e0;
  margin: 10px 0;
}

#testimonials .splide__slide .container .info .rating {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (24px)[5];
      grid-template-columns: repeat(5, 24px);
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

#testimonials .splide__slide .container .info .rating img {
  height: 24px;
  width: 24px;
}

#testimonials .splide__slide .comment {
  color: #a19fad;
  margin-top: 30px;
}

#testimonials .is-active {
  opacity: 1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #6e57e0;
  -webkit-transform: translateX(-130px);
          transform: translateX(-130px);
  width: calc(100vw - 15px - 260px);
  padding: 30px 130px;
}

footer p,
footer small {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #a19fad;
  color: #fbfbfe;
}

footer p {
  color: #fbfbfe;
}

footer p:last-child {
  justify-self: baseline;
}

footer .logo {
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 0;
  color: #242329;
  color: #fbfbfe;
}

footer .logo span {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #a19fad;
  color: #fbfbfe;
}

footer button {
  margin-top: 30px;
}

footer button svg {
  fill: #6e57e0;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #fbfbfe;
  padding: 30px;
  width: 80%;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */