@use "../utils" as *;
@use "./colors" as *;

h1,
h2,
p,
a {
  margin: 0;
}

h1 {
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 600;
  color: $dark;
  letter-spacing: -2px;
}

h2 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
  font-weight: 700;
  letter-spacing: -2px;
  color: $dark;
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
  font-weight: 700;
  letter-spacing: 0px;
  color: $dark;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0px;
  color: $dark;
}

p {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0px;
  color: $silver;
}

a,
a:visited,
a:active {
  // font-size: rem(16);
  font-weight: 500;
  // color: $silver;
}

button {
  font-size: rem(16);
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $silver;
}
